h1 {
color:#FF0000;
}

section {
    margin-top:50px;
}

.home {
    background-image:url(../resources/dna.jpg)
}

.disappear {
    display:none;
}

.shortColumn{
    width:100px;
}

.pic{
    width:100px;
    object-fit:cover;

}

.shortField{
    width:70px !important;
    display:inline !important;
}