{{#section 'head'}}
<link rel="stylesheet" type="text/css" href="/css/home.css" />
<title>VarHunter</title>
{{/section}}

<div class="site-wrapper">
    <div class="site-wrapper-inner">
        <div class="cover-container">

            <div class="inner cover">
                <h1 class="cover-heading">VarHunter</h1>

                <p class="lead">VarHunter is an easy-to-use web app eligible for an easy user-driven variant prioritization</p>
                {{#unless user}}
       
                <p class="lead"><a class="btn btn-lg btn-info" href="/login">Login</a></p>
                {{/unless}}
     
            </div>

            <div class="mastfoot">
                <div class="inner">
                    <!-- Validation -->
                    <p>&copy; 2017 Salvatore Monetti</p>
                </div>
            </div>
        </div>
    </div>
</div>


