{{#section 'head'}}
    <title>Your Projects</title>
    <script type="text/javascript" src="/js/projects.js"></script>
{{/section}}

<section>
    <div class="page-header">
        <h1>Your Projects</h1>
    </div>

    {{#unless projects}}
        <h1>You don't have any Project</h1>

    {{else}}
    <div class="table-responsive pure-table pure-table-horizontal">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th class="shortColumn">Edit</th>
                    <th class="shortColumn">Delete</th>
                </tr>
            </thead>
            <tbody>
                {{#each projects}}
                <tr>
                    <td>{{this.Name}}</td>
                    <td><a href="/samples?id={{this.Id}}"><span class="glyphicon glyphicon-edit"></span></a></td>
                    <td><a class="removeProj" href="#" on="{{this.Id}}"><span class="glyphicon glyphicon-remove"></span></a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    {{/unless}}
    <form class="form-inline" action="/newProject" method="post" role="form" style="margin-top:50px;">
        <div class="form-group">
            <label class="col-lg-6 control-label" for="name">New project name</label>
            <div class="col-lg-6">
                <input id="name" name="name" type="text" class="form-control" required="">
            </div>
        </div>
        <div class="form-group">
            <div class="form-group">
                <div class="col-lg-10">
                    <button type="submit" class="btn btn-default">Add</button>
                </div>
            </div>
        </div>
    </form>




</section>
